**/.DS_Store

#**/data/
.idea

data/*
!data/put_data_here

!data/sudoku_net_training_checkpoints/
data/sudoku_net_training_checkpoints/*
!data/sudoku_net_training_checkpoints/training_checkpoint_data_here
!data/final_sudoku_net_model.pth

__pycache__
venv
sulvedoku.iml